@import "tailwindcss";

body {
  font-family: 'Inter', 'Noto Sans SC', sans-serif;
  background-color: #0f172a;
}

.mono {
  font-family: 'JetBrains Mono', monospace;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1e293b;
}

::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #475569;
}
